<div class="users">
  <div class="control-panel">
    <form>
      <label class="select">Select column to filter:
        <select name="filterName" (change)="applyFilter()"  [(ngModel)]="searchOption" >
          <option *ngFor="let opt of options" [value]="opt.value">{{ opt.text }}</option>
        </select>
      </label>
      <label class="input">Enter filter keywords:
        <input type="text" name="filterValue"  [(ngModel)]="searchKey" (keyup)="applyFilter()" placeholder="filter keywords go here..." />
      </label>
    </form>
  </div>
   
  <div class="users-list-wrapper">
    <table class="users-list">
      <thead>
        <tr>
          <th>Name</th>
          <th>User Name</th>
          <th>E-mail</th>
          <th>Phone</th>
          <th>Website</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let emp of results; let i=index;">
          <td>{{emp.name}}</td>
          <td>{{emp.username}}</td>
          <td>{{emp.email}}</td>
          <td>{{emp.phone}}</td>
          <td>{{emp.website}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>